[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyter = "*"
tensorflow-gpu = "*"
keras = "*"
numpy = "*"
scipy = "*"
scikit-image = "*"
matplotlib = "*"

[requires]
python_version = "3.5"

[dev-packages]
